<!-- HOME -->
<main class="l-main">
	<section class="home" id="home">
		<div class="home_container bd-grid">
			<div class="home_book">
				<img src="images/book3.png" class="home_img">
			</div>
			<div class="home_data">
				<span class="home_new">New in</span>
				<h1 class="home_title">YEEZY BOOST <br> SPY - 350</h1>
				<p class="home_description">Explore the new collection of books</p>
				<a href="/products" class="button">Get Started</a>
			</div>
		</div>
	</section>
	<!-- FEATURED -->
	<section class="featured section" id="featured">
		<h2 class="section-title">FEATURED</h2>
		<div class="featured_container bd-grid" id="productList">

		</div>
	</section>
	<!-- NEWSLETTER -->
	<section class="newsletter section">
		<div class="newsletter_container bd-grid">
			<div>
				<h3 class="newsletter_title">Subscribe And Get <br> 10% OFF</h3>
				<p class="newsletter_description">Get 10% discount for all products</p>
			</div>
			<form action="" class="newslettter_subcribe">
				<input type="text" class="newslettter_input" placeholder="example@example.com">
				<a href="#" class="button">Subscribe</a>
			</form>
		</div>
	</section>
</main>