<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book</title>
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
  <!-- HEADER -->
  <header class="l-header" id="header">
    <nav class="nav bd-grid">
      <div class="nav_toggle" id="nav-toggle">
        <i class="bx bxs-grid"></i>
      </div>
      <a href="/" class="nav_logo">BOOK</a>
      <div class="nav_menu" id="nav-menu">
        <ul class="nav_list">
          <li class="nav_item"><a href="/" class="nav_link">Home</a></li>
          <li class="nav_item"><a href="/products" class="nav_link">Products</a></li>
          <% if(!session.user){ %>
          <li class="nav_item"><a href="/login" class="nav_link">Login</a></li>
          <li class="nav_item"><a href="/register" class="nav_link">Register</a></li>
          <% }else{ %>
          <li class="nav_item"><a href="/orders" class="nav_link">Orders</a></li>
          <li class="nav_item"><a href="/my/edit" class="nav_link">Change Info</a></li>
          <% if(session.user.isAdmin == 'true'){ %>
          <li class="nav_item"><a href="/admin/users" class="nav_link">Manager</a></li>
          <% } %>
          <li class="nav_item"><a href="/logout" class="nav_link">Logout</a></li>
          <% } %>
        </ul>
      </div>
      <div class="nav_shop">
        <a href="/cart"><span id="cartCount"><%= session.cart ? session.cart.totalQty : 0 %></span>
          <i class="bx bx-shopping-bag"></i></a>
      </div>
    </nav>
  </header>
  <%- body %>
  <a href="#" class="to-top"><i class='bx bxs-chevron-up-circle'></i></a>
  <!-- FOOTER -->
  <footer class="footer section">
    <div class="footer_container bd-grid">
      <div class="footer_box">
        <h3 class="footer_title">Roby</h3>
        <p class="footer_description">New collection of shoes 2020.</p>
      </div>

      <div class="footer_box">
        <h3 class="footer_title">EXPLORE</h3>
        <ul>
          <li><a href="#home" class="footer_link">Home</a></li>
          <li><a href="#featured" class="footer_link">Featured</a></li>
          <li><a href="" class="footer_link">abc</a></li>
          <li><a href="" class="footer_link">Home</a></li>
        </ul>
      </div>

      <div class="footer_box">
        <h3 class="footer_title">SUPPORT</h3>
        <ul>
          <li><a href="#" class="footer_link">Product Help</a></li>
          <li><a href="#" class="footer_link">Customer Care</a></li>
          <li><a href="#" class="footer_link">Athorized Service</a></li>
        </ul>
      </div>

      <div class="footer_box">
        <a href="" class="footer_social"><i class="bx bxl-facebook"></i></a>
        <a href="" class="footer_social"><i class="bx bxl-instagram"></i></a>
        <a href="" class="footer_social"><i class="bx bxl-twitter"></i></a>
        <a href="" class="footer_social"><i class="bx bxl-google"></i></a>
      </div>
    </div>
    <p class="footer_copy">&#169; 2020 Lorem ipsum dolor sit.</p>
  </footer>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>